{% extends "layout.twig" %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        {% for item in page.menu %}
            {% if item.name == page.title %}
                <li><a href="{{ item.url }}">{{ item.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ol>
{% endblock %}

{% block content %}

    {% for fieldName, field in page.fields %}
        {{ dump(field) }}
    {% endfor %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ page.title | title }}</div>
        <div class="panel-body">
            {% for object in page.body %}
                <form class="form-horizontal" role="form" method="post" action="{{ page.urlForm }}">
                    {% for fieldName, field in page.fields %}
                        {% set fieldValue =  attribute(object, fieldName) %}
                        {% include "fields/field.twig" %}
                    {% endfor %}
                    {% for field in page.embedFields %}
                        {% include "fields/select.twig" %}
                    {% endfor %}
                    <div class="form-group text-right">
                        <div class="col-sm-8">
                        </div>
                        <div class="col-sm-4 ">
                            <a href="{{ [page.settings.viewItemUrl, page.objectName,'/',object.id]|join }}" class="btn btn-default">Cancel</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            {% endfor %}
        </div>
    </div>

{% endblock %}