{% extends "layout.twig" %}

{% block content %}
    <h1> form : {{ title }} </h1>

    <form role="form">
        {% for fieldName, field in fields %}
            <div class="form-group">
                <label for="{{ fieldName }}">{{ fieldName }}</label>
                <input type="{{ field.type }}" class="form-control" id="{{ fieldName }}" placeholder="{{ fieldName }}">
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

{% endblock %}
