{% extends "layout.twig" %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        {% for item in list.menu %}
            {% if item.name == list.objectName %}
                <li><a href="{{ item.url }}">{{ item.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ol>
{% endblock %}

{% block content %}

    <p class="text-right">
        <a href="{{ [list.settings.createItemUrl, list.objectName]|join }}" class="btn btn-primary btn-lg">Create</a>
    </p>

    <!-- Table -->
    <div class="panel panel-default">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    {% for fieldName, field in list.fields %}
                        <th>{{ fieldName }} :</th>
                    {% endfor %}
                    {% for field in list.embedFields %}
                        <th>{{ field.name }} :</th>
                    {% endfor %}
                    <th>action :</th>
                </tr>
                </thead>
                <tbody>
                {% for object in list.listObject %}
                    <tr>
                        {% for fieldName, field in list.fields %}
                            <td>{{ attribute(object, fieldName) }}</td>
                        {% endfor %}
                        {% for field in list.embedFields %}
                            {% set embedField = attribute(object, field.name) %}
                            <td>
                                {% for ef in embedField %}
                                    {{ attribute(ef, field.field) }}
                                {% endfor %}
                            </td>
                        {% endfor %}
                        <td class="text-center">
                            <a href="{{ [list.settings.viewItemUrl, list.objectName,'/',object.id]|join }}" class="btn btn-primary">View</a>
                            <a href="{{ [list.settings.editItemUrl, list.objectName,'/',object.id]|join }}" class="btn btn-primary">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}